<ion-view>
  <ion-content>
  	<div style="margin-top: 10px; height: 110px">
  		<img  src="img/logo.png">
  		<p style="color: #F37320; text-align: center;">The world’s largest kitchen</p>
  		 <label class="item item-input" style="    width: 60%;    margin: auto; height: 34px">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search">
</label>
  	</div>
  	 <ion-list>
        <ion-item ng-repeat="service in services"  ng-click="changeService({{service.id}})" >
                      <div style="height: 100px;">
                      <img src={{service.icon}}>
                      </div>
                      </ion-item>

                    </ion-list>
  </ion-content>
</ion-view>